/* Normalise CSS */
html,body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
}

.container{
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}

/* Header CSS */
header{
    /* background-color: gray; */
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont,.right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-brand{
    max-width: 150px;
    max-height: 100px;
    height: 60px;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    /* display: none; */
    margin-left: 35px;
}
.nav-item{
    margin-right: 20px;
    color: #7c7878;
    
}
.nav-item.active{
    color: white;
    font-weight: 500;
}
.right-cont svg,.right-cont img{
    margin-right: 22px;
}
.right-cont{
    color: white;
    cursor: pointer;
}
.right-cont img{
    max-width: 40px;
}

/* RESPONSIVE CSS */
@media (max-width:767px){
    .main-nav{
        display: none;
    }
}